USE [DB_IM_ERHA]
GO
/****** Object:  Table [dbo].[M_ACTION_COMM]    Script Date: 10/19/2013 02:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_ACTION_COMM](
	[ACTION_COMM_ID] [nvarchar](50) NOT NULL,
	[ACTION_ID] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[ACTION_COMM_TYPE] [nvarchar](50) NULL,
	[ACTION_COMM_VAL] [numeric](18, 5) NULL,
	[ACTION_COMM_STATUS] [nvarchar](50) NULL,
	[ACTION_COMM_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_ACTION_COMM] PRIMARY KEY CLUSTERED 
(
	[ACTION_COMM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_ACTION_COMM]  WITH CHECK ADD  CONSTRAINT [FK_M_ACTION_COMM_M_ACTION] FOREIGN KEY([ACTION_ID])
REFERENCES [dbo].[M_ACTION] ([ACTION_ID])
GO
ALTER TABLE [dbo].[M_ACTION_COMM] CHECK CONSTRAINT [FK_M_ACTION_COMM_M_ACTION]
GO
ALTER TABLE [dbo].[M_ACTION_COMM]  WITH CHECK ADD  CONSTRAINT [FK_M_ACTION_COMM_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[M_ACTION_COMM] CHECK CONSTRAINT [FK_M_ACTION_COMM_M_EMPLOYEE]
GO
