USE [DB_IM_ERHA]
GO
/****** Object:  Table [dbo].[T_JOURNAL_REF]    Script Date: 10/19/2013 02:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_JOURNAL_REF](
	[JOURNAL_REF_ID] [nvarchar](50) NOT NULL,
	[REFERENCE_TABLE] [nvarchar](50) NOT NULL,
	[REFERENCE_TYPE] [nvarchar](50) NOT NULL,
	[REFERENCE_ID] [nvarchar](50) NOT NULL,
	[JOURNAL_ID] [nvarchar](50) NOT NULL,
	[JOURNAL_REF_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_JOURNAL_REF] PRIMARY KEY CLUSTERED 
(
	[JOURNAL_REF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_JOURNAL_REF]  WITH CHECK ADD  CONSTRAINT [FK_T_JOURNAL_REF_T_JOURNAL] FOREIGN KEY([JOURNAL_ID])
REFERENCES [dbo].[T_JOURNAL] ([JOURNAL_ID])
GO
ALTER TABLE [dbo].[T_JOURNAL_REF] CHECK CONSTRAINT [FK_T_JOURNAL_REF_T_JOURNAL]
GO
